/* Write your styles */
* {
    margin: 0;
    padding: 0;
    border:0;
}
 *,
 *:before,
 *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }
 html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* =16px */
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
.mybiaoji{
	
}